<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>CathodeRun</string>
    <key>CFBundleIdentifier</key>
    <string>sk.xgallom.cathode-run</string>
    <key>CFBundleName</key>
    <string>Cathode Run</string>
    <key>CFBundleDisplayName</key>
    <string>Cathode Run</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
</dict>
</plist>
